.TableFilterBlock {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.counter {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--color-gray-dark);
}

.input {
  width: 45%;
}

.button {
  color: var(--color-gray-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown {
  right: 0;
  top: calc(100% + 16px);
}