.PageSizeControl {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
}

.trigger {
  border: 1px solid var(--color-gray);
  padding: 8px;
}

.dropdown {
  bottom: calc(100% + 8px);
  left: calc(-100% - 40px);
}

.itemsListWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.itemButton {
  width: 80px;
  font-weight: 700;
  font-size: 16px;
}

.itemButton_active {
  color: var(--color-blue-dark);
  text-decoration: underline;
}